{% extends 'base.html' %} {% block content %}
<p>There are 0 Movies in the Database</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Genres</th>
            <th>Stock</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Die Hard</td>
            <td>Crime</td>
            <td>34</td>
            <td>3.5</td>
        </tr>
    </tbody>
</table>
{% endblock %}